/* @import "../omarchy/current/theme/waybar.css"; */
@import url("../../.config/matugen/generated/waybar-colors.css");

/* * {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Propo';
  font-size: 12px;
} */

* {
  border: none;
  border-radius: 0px;
  color: alpha(@primary, 1);
  min-height: 0px;
  font-family: "JetBrainsMono Nerd Font Propo", "Symbols Nerd Font", sans-serif;
  font-weight: 500;
  font-size: 11px;
}

  window#waybar {
    background: alpha(@shadow, 0.5);
}


.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
all: initial;
padding: 0 6px;
margin: 0 1.5px;
min-width: 9px;
}

#workspaces button.empty {
opacity: 0.5;
}

#tray,
#custom-tasktimer,
#cpu,
#battery,
#custom-inhibit-suspend,
#network,
#bluetooth,
#pulseaudio,
#custom-launcher,
#custom-power,
#custom-update {
min-width: 12px;
margin: 0 7.5px;
}

#custom-expand-icon {
margin-right: 7px;
}

/* ─────────────────────────────────────────────────────────────────────────────
   POWER BUTTON
   ───────────────────────────────────────────────────────────────────────────── */

/* #custom-power {
  padding: 0px 12px 0px 9px;
  margin: 5px 6px 5px 2px;
  border-radius: 10px;
  background-image: linear-gradient(135deg, @primary_container 0%, @primary_fixed_dim 100%);
  color: @on_primary_container;
  font-size: 14px;
  box-shadow: 0 2px 8px alpha(@error, 0.25);
  transition: all 0.2s ease-in-out;
}

#custom-power:hover {
  background-color: @error;
  background-image: none;
  box-shadow: 0 4px 16px alpha(@error, 0.4);
} */


tooltip {
  padding: 2px;
}

#custom-update {
font-size: 10px;
}

#clock {
margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}
  
/* ─────────────────────────────────────────────────────────────────────────────
   IDLE INHIBITOR
   ───────────────────────────────────────────────────────────────────────────── */

#custom-inhibit-suspend {
  padding: 0px 12px 0px 9px;
  margin: 5px 2px;
  border-radius: 0px;
  /* background-color: alpha(@surface_container, 0.6); */
  /* color: @on_surface; */
  font-size: 14px;
  /* transition: all 0.2s ease-in-out; */
}

#custom-inhibit-suspend:hover {
  /* background-color: alpha(@surface_container_high, 0.9); */
}

#custom-inhibit-suspend.disabled {
  /* color: @tertiary;
  padding: 0px 12px 0px 9px;
  background-color: alpha(@tertiary_container, 0.3);
  border: 1px solid alpha(@tertiary, 0.2); */
}

#custom-inhibit-suspend.enabled {
  /* color: @on_surface_variant;
  background-color: alpha(@surface_container, 0.6); */
}
